{% extends "base.html" %}

{% block css %}
.text-center {
    text-align: center !important;
}
{% endblock %}

{% block content %}

<br>

<div class="row">
	<div class="span8 offset2">
  		<div class="well">

			<center><h1>How hyped is your news?</h1>

			<br><br>

			<div class="form-inline">
				<form class="form-search" action="article" method="GET">
					<input class="span6" id="appendedInputButton" type="text" name="request_url" placeholder="News article URL">
					<button class="btn btn-inverse" type="submit">Go!</button>
				</form>
			</div>
			<!-- <hr> -->
			</center>
		</div>
		

		<div class="well">
			<h3>Examples</h3>
			<h5>We can accurately classify news articles from opinion articles.</h5>
			<table class="table well">
				<thead>
					<tr> <td>Article Type</td> <td><div class="text-center">Hype score</div></td> <td>Headline</td> </tr>
				</thead>
				<tbody>
					<tr>
						<td>Opinion</td>
						<td><div class="text-center">99</div></td>
						<td><a href="/article?request_url=http://www.nytimes.com/2013/09/11/opinion/friedman-threaten-to-threaten.html?_r=0">
							 	Threaten to Threaten</a></td>
						<td></td>	
					</tr>
					<tr>
						<td>Opinion</td>
						<td><div class = 'text-center'>4</div></td>
						<td><a href="/article?request_url=http://www.nytimes.com/2013/09/17/world/europe/us-and-allies-tell-syria-to-dismantle-chemical-arms-quickly.html?ref=world"> 	U.S. and Allies Push for Strong U.N. Measure on Syria’s Arms</a></td>
						<td></td>	
					</tr>

					</tr>
				</tbody>
			</table>

			<!-- <h5>... but not always.  Occassionally, there are VERY hyped articles.</h5>
			<table class="table table-condensed well">
				<thead>
					<tr><td>Hype<br>score</td> <td>Headline</td> <td>Source</td> </tr>
				</thead>
				<tbody>
					{% for example in but_fox_examples %}
					<tr>
						<td align="right">{{example.score}}</td>
						<td><a href="/article?request_url={{example.url}}">{{example.title}}</a></td>
						<td>{{example.url_dom}}</td>
						<td></td>	
					</tr>
					{% endfor %}
				</tbody>
			</table> -->

			<!-- <h5>Everyone adds some extra hype in their some of their articles.</h5>
			<table class="table table-condensed well">
				<thead>
					<tr><td>Hype<br>score</td> <td>Headline</td> <td>Source</td> </tr>
				</thead>
				<tbody>
					{% for example in all_do_it_examples %}
					<tr>
						<td align="right">{{example.score}}</td>
						<td><a href="/article?request_url={{example.url}}">{{example.title}}</a></td>
						<td>{{example.url_dom}}</td>
						<td></td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>	 -->		

		</div>
	</div>
</div>




<!-- <h4>Today's Top Stories</h4>

<table border="0" cellpadding="5">
<tr>
<th></th>
<th align="left">Headline</th>
<th align="right">Hype Score</th>
</tr>
{% for article in articles %}
<tr>
<td><img border="0" src="{{article.top_image.src}}" alt="{{article.title}}" width="100" height="100"></td>
<td><a href="/article?url={{article.url}}">{{article.title}}</a></td>
<td align="right">{{article.score}}</td>
</tr>
{% endfor %}
</table>  -->

{% endblock %}