{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block content %}

<br>

<div class="row">
	<div class="span8 offset2">
  		<div class="well">

			<center><h1>How hyped is your news?</h1>

			<br><br>

			<div class="form-inline">
				<form class="form-search" action="article" method="GET">
					<input class="span6" id="appendedInputButton" type="text" name="request_url" placeholder="News article URL">
					<button class="btn btn-inverse" type="submit">Go!</button>
				</form>
			</div>
			<!-- <hr> -->
			</center>
		</div>
	</div>
</div>

<!-- <h4>Today's Top Stories</h4>

<table border="0" cellpadding="5">
<tr>
<th></th>
<th align="left">Headline</th>
<th align="right">Hype Score</th>
</tr>
{% for article in articles %}
<tr>
<td><img border="0" src="{{article.top_image.src}}" alt="{{article.title}}" width="100" height="100"></td>
<td><a href="/article?url={{article.url}}">{{article.title}}</a></td>
<td align="right">{{article.score}}</td>
</tr>
{% endfor %}
</table>  -->

{% endblock %}