{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div>
    <center>
<iframe src="http://www.slideshare.net/slideshow/embed_code/26388029?rel=0" width="514" height="422" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 


<div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/johnjoo1/presentation-26388029" title="Presentation" target="_blank">Presentation</a> </strong> from <strong><a href="http://www.slideshare.net/johnjoo1" target="_blank">johnjoo1</a></strong> </div>
    </center>
</div>
<br>
<br>
Demo Mom example:<br>
<a href="http://beforeitsnews.com/alternative/2011/05/hidden-obamacare-secret-rfid-chip-implants-mandatory-for-all-by-march-23-2013-665502.html">Hidden Obamacare Secret: “RFID Chip Implants” Mandatory for All by March 23, 2013</a>
{% endblock %}